.book-form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

input[type="text"],
.form-select,
button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  flex: 1;
}

input[type="text"],
.form-select {
  min-width: 350px;
}

.form-select {
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.form-select:focus {
  outline: none;
  background-color: #fff;
}

.book-form button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  min-width: 200px;
  transition: background-color 0.3s ease-in-out;
  margin-right: 40px;
}

button:hover {
  background-color: #0056b3;
}
